extends layout

block content
    form(class="form" action="/anime", method="POST")
        input(type="text" name="torrent" placeholder="Anime Series" required)
        button(class="btn" type='submit') Submit
    .poster
        img(src =imgsrc)
    h1 nyaa
    #data
        each torrent in data
            include torrent
        else
            p Torrent not found
    h1 tokyotosho
    #data2
        each torrent in data2
            include torrent
        else
            p Torrent not found
